---

HTTP_TIMEOUT: 5
URLS:
    - https://www.menicka.cz/1631-u-malicke-brany.html
    - https://www.menicka.cz/1639-comix-excelent-urban-pub.html
    - https://www.menicka.cz/4280-buffalo-burger-bar.html

MAIL_FROM: jidlobot@….cz
MAIL_PW: …
MAIL_SERVER: smtp.gmail.com
MAIL_PORT: 587

MAIL_TO:
    - …@….cz

MATTERMOST_WEBHOOK: https://mattermost/hooks/…
MATTERMOST_CHANNEL: channel
MATTERMOST_USERNAME: jídlobot

HIPCHAT_URL: https://hipchat/
HIPCHAT_ROOM: 1
HIPCHAT_TOKEN: …
HIPCHAT_COLOR: random

ROCKETCHAT_WEBHOOK: https://rocketchat/hooks/…
ROCKETCHAT_CHANNEL: channel

SLACK_WEBHOOK: https://hooks.slack.com/services/…

BACKENDS:
    - mattermost
    - mail
    - hipchat
    - rocketchat
    - slack
    - console

ZOMATO_UA: 'Mozilla/5.0 (X11; Linux x86_64; rv:65.0) Gecko/20100101 Firefox/65.0'
ZOMATO_LANG: 'cs,en'

...
